{% load staticfiles %}
<!DOCTYPE html>
<html>
    <head lang="en" >
        <meta charset="utf-8">
        <meta name="keywords" content="car, rent, foreing, recife">
        <meta name="description" content="An easy to use website to rent cars in Recife.">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta name="reply-to" content="joaovitortlyra@gmail.com">
        <link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css" />
        <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Quicksand:300,400,500,700" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css?family=Quicksand" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <title> {% block title %}  {% endblock %} </title>
    </head>
        
    <body>
        <div class="navbar" id="myTopnav"> 
            <a href="javascript:void(0);" class="navIcon" onclick="myFunction()">&#9776;</a>
            <div class="logo"> 
                <a href="{% url 'home' %}"><img class="navImgLogo" src="{% static 'img/RentifyBranca.png' %}"></img></a>
            </div>
            <ul class="navLinks">
                <li><a href="{% url 'cars' %}">Our Cars</a></li>
                <li><a href="{% url 'about' %}">About</a></li>
                {% if not user %}
                <li><a href="{% url 'signin' %}">Sign in</a></li>
                <li><a href="{% url 'signup' %}">Sign up</a></li>
                {% else %}
                <li><a href="{% url 'rentProfile' %}">Profile</a></li>
                <li><a href="{% url 'logout' %}">Exit</a></li>
                {% endif %}
                
            </ul>
        </div>
        
        {% block content %}  {% endblock %}
        
        <footer>
            <div class="footerLogo">
                <img class="footerImgLogo" src="{% static 'img/RentifyBranca.png' %}"></img>
            </div>
            <div class="footerInfo">
                <div class="socialNetworks">
                    <a target="_blank" href="https://www.facebook.com/"><img class="iconMedia" src="{% static 'icons/facebook-logo.svg' %}"></img></a>
                    <a target="_blank" href="https://www.instagram.com/?hl=pt-br"><img class="iconMedia" src="{% static 'icons/instagram-logo.svg' %}"></img></a>
                </div>
                <div class="contact">
                    contact@rentify.com
                    <img class="icon" src="{% static 'icons/close-envelope.svg' %}"></img>
                    <div class="line"></div>
                    <img class="icon" src="{% static 'icons/phone-receiver.svg' %}"></img>
                    (81)3093-1280
                </div>
                <div class="adress">
                    <img class="icon" src="{% static 'icons/map-pin.svg' %}"></img>
                    Rua Jornalista Hercílio celso, 822 - Boa Viagem
                </div>
            </div>
        </footer>
        <script type="text/javascript" src="{% static 'js/script.js' %}"></script>
    </body>

</html>