{% load staticfiles %}
<section class="user-profile"> 
    <div class="user-profile-box">
        <img>
        <div class="user-info-box">
            <h2> Lito Rodriguez </h2>
           <p class="user-info"><span>Age</span> 12 </p> 
           <p class="user-info"><span>Country</span> Brazilian </p> 
           <p class="user-info"><span>Gender</span> Male </p> 
        </div>
    </div>
    <div class="user-car-box">
        <h2> Current car </h2>
        <div class="car-card is-rent">
            <div class="filter-card">
                <span class="car-info"> Mercedez Benz Cu </span>
                <span class="car-info"> License plate: KKD-2233</span>
                <form method="POST">
                    <button class="btn-orange">Return</button>
                </form>
            </div>
        </div>
    </div>
</section>
