* {
    margin: 0;
    padding: 0;
}


/*                    NAVBAR                    */
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    /*margin: 2% 0;*/
    /*padding: 24px 24px;*/
    background-color: #004E98;
    height: 100%;
}

.navLinks {
    position: absolute;
    margin: 0;
    right: 2%;
}

li{
    list-style-type: none;
    display: inline-block;
    padding: 20px 10px;
}

li a {
    text-decoration: none;
    font-family: "Open Sans";
    padding: 1.5vw;
    color: white;
    font-size: 0.9em;
}

.navImgLogo {
    width: 100px;
    padding-bottom: 5px;
    padding-top: 10px;
}

.navIcon {
    position:absolute;
    margin: 0;
    left: 2%;
    font-size:30px;
    text-decoration:none;
    color:white;
    display:none;
    cursor: pointer;
}

@media (max-width: 170vh) {
    .navLinks {
        display:none;
    }
    .navIcon {
        display:block;
    }
    .navbar.responsive {
        position: relative;
    }
    .navbar.responsive .navLinks {
        float: none;
        display: block;
        text-align: left;
        width:100%;
        right: 0;
        background-color:#004E98;
        top: 100%;
        z-index:3;
    }
    li {
        display:block;
    }
    li a{
        padding: 10px 10px;
        width:100%;
        left:2%;
    }
    li:hover {
        background-color:#0269cc;
    }
}


/*                    FOOTER                    */
footer {
    display:flex;
    background: #242927;
    padding: 40px 0;
    font-family: "Open Sans";
}

.footerLogo {
    width: 35%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    color: white;
    margin-left: 6vw;
}

.footerInfo {
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    margin-right: 6vw;
}

.socialNetworks {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 4px 2px;
}

.contact {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 4px 2px;
    font-size: 0.8em;
}

.adress {
    display: flex;
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    color: white;
    padding: 4px 2px;
    font-size: 0.8em;
}

.icon {
    width: 20px;
    height: 20px;
    padding: 0 10px;
}

.iconMedia {
    width: 20px;
    height: 20px;
    padding: 1px 0 1px 20px;
}

.line {
    height: 20px;
    width: 2px;
    background-color: white;
}

.footerImgLogo {
    width: 200px;
}

@media (max-width: 100vh) {
    footer {
        flex-direction: column;
    }
    .footerLogo {
        width: 100%;
        justify-content: center;
        margin-left: 0;
    }
    .footerInfo {
        width: 100%;
    }
    .footerInfo div {
        justify-content: center;
    }
    .iconMedia {
        margin-left: 20%;
    }
}

/*                    TOP BANNER                    */
.topBanner {
    position:relative;
    display:flex;
    justify-content:center;
    height: 410px;
}
.topBannerContent {
    display: flex;
    width:100%;
    height: 400px;
    position:absolute;
    justify-content:center;
    flex-wrap:wrap;
}
.topImg {
    width:100%;
    object-fit:cover;
    object-position:center;
    z-index:0;
}
.topBannerText {
    display: flex;
    flex-direction:column;
    justify-content:center;
    align-items:flex-end;
    width:35%;
}
.topText {
    color: white;
    font-size: 45px;
    font-family:Open Sans;
    text-align: left;
    z-index:2;
    width:100%;
}
.topText2 {
    font-size:30px;
}
.topBannerButton {
    display: flex;
    width:20%;
    align-items:center;
}
.topButton {
    cursor:pointer;
    width:140px;
    height: 50px;
    border-radius:100px;
    background-color:#FF6700;
    border:none;
    z-index:2;
    outline:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.topRentCar {
    padding: 10px 22px;
    text-decoration:none;
    color:white;
    font-family:Open Sans;
    font-size:20px;
}

@media (max-width: 1200px) {
    .topBannerContent {
        flex-direction:column;
        align-items:center;
    }
    .topBannerText {
        width:100%;
        align-items:center;
    }
    .topBannerButton {
        width:50%;
        justify-content:flex-end;
    }
    .topText {
        text-align: center;
        font-size:35px;
    }
    .topText2 {
        text-align: center;
        font-size:35px;
    }
}

@media (max-width: 500px) {
    .topText {
        font-size:25px;
    }
}


/*                    BOTTOM BANNER                    */
.bottomBanner {
    position:relative;
    display:flex;
    justify-content:center;
    height: 200px;
}
.bottomImg {
    width:100%;
    object-fit:cover;
    object-position:center;
    z-index:0;
}
.bottomText {
    position:absolute;
    top:28%;
    color: white;
    font-size: 40px;
    font-family:Open Sans;
    text-align: center;
    width:100%;
    z-index:2;
}
.bottomButton {
    position:absolute;
    cursor:pointer;
    top:62%;
    width:120px;
    height: 40px;
    border-radius:100px;
    background-color:#FF6700;
    border:none;
    z-index:2;
    outline:0;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
}
.sombreamento {
    position:absolute;
    background-color: rgba(0,0,0,0.3);
    width: 100%;
    height: 100%;
    z-index:1;
}
.rentCar {
    padding: 10px 22px;
    text-decoration:none;
    color:white;
    font-family:Open Sans;
    font-size:16px;
}

/*                    ABOUT                  */
.gray-bar {
    width: 100%; 
    background-color: #c0c0c0;
    display : flex;
    align-items: center;
    height: 65px;
    border-bottom: 1px solid black;
    font-family:'Quicksand';
    font-size: 28px;
}

.gray-bar-text {
    margin: 0;
    font-size: 0.9em;
}

.gray-bar-image {
    margin:0;
    height: 60%;
    margin-left: 5%;
    margin-right:13px;
}
.we-are {
    margin-bottom:7px;
    margin-top:25px;
    
}

.we-are-text {
    font-family: 'Open sans';
    margin-left: 40px;
}
.we-are-graph{
    font-family:'Open sans';
    font-size:15px;
    margin-top:15px;
    margin-left:40px;
    margin-right: 45px;
    margin-bottom:15px;
    text-align: justify;
}

.how-does-text{
    font-family:'Open sans';
    margin-left:40px;
}

.how-does-graph{
    font-family:'Open sans';
    font-size:15px;
    margin: 15px 45px 15px 40px;
    text-align: justify;
}
.icons{
    display:flex;
    justify-content:space-between;
    flex-wrap: wrap;
    font-family: 'Open sans';
    margin: 6%;
    text-align: center; 
}

.icons figure img {
    width: 80px;
}

.icon-title p {
    text-align: justify;
    font-size: 0.8em;
}

.icon-title h2 {
    margin-bottom: 5px;
    font-size: 1.3em;
}

.icon-1, .icon-2, .icon-3{
    width: 30%;
    margin: 10px;
    min-width: 150px;
    transition: width 0.3s;
        
}

@media screen and (max-width: 700px) {
    .icons {
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    
    .icon-1, .icon-2, .icon-3 {
        width: 90%;
    }
} 

/*                    TenantProfile                    */

.profiles{
    display: flex;
    justify-content: flex-end;
    flex-wrap:wrap;
    
}
.photos{
    display: flex;
    flex-direction: column;
}

.profile-photo{
    width:150px;
    min-width:80px;
    border-radius: 100%;
    margin:20px;
}





























/*                    LOGIN                    */

.login{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}
.login > h2{
    margin-top:5%;
    width:100%;
    text-align:center;
    font-family: 'Quicksand';
}
.login > div{
    width:35%;
    border:1px solid #c0c0c0;
    font-family: 'Quicksand';
    color:#c0c0c0;
    text-align:center;
    margin-bottom:10%;
    margin-top:5%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}
.login > div >h6{
    margin-top: 5%;
}
.login > div > form{
    width:90%;
}
#esqpass{
    font-size:1.5vh;
    margin:20%;
    text-decoration:none;
    color:#c0c0c0;
}
.login > div > form > button{
    width:60%;
    margin-right:20%;
    margin-left:20%;
    margin-top:5%;
    margin-bottom:5%;
    border:none;
    height: 5vh;
    border:none;
    background-color:#FF6700;
    border-radius:1vh;
}

.login > div > form > p >label{
    display:none;
}
.login > div > form > p >input{
    width:90%;
    height:5vh;
    border-radius:1vh;
    border:1px solid #c0c0c0;
    font-family: 'Quicksand';
}
@media (max-width: 100vh){
    .login > div{
    width:85%;
    }
}

/*    Modais    */

.placed{
    width:100%;
    height:100vh;
    display:flex;
    position:fixed;
    top:0;
    background-color: rgba(0,0,0,0.8);
    z-index:10;
    font-family: 'Open sans';
    color:#c0c0c0;
}
.placed > div{
    width:35%;
    display:flex;
    position:fixed;
    top:20%;
    left:32.5%;
    background-color: #FFFFFF;
    justify-content:center;
    align-items:center;
    border:1px solid #c0c0c0;
    flex-wrap:wrap;
}
.placed > div >p{
    font-size:4vh;
    text-align: center;
    margin:7vh;
}
.placed > div > a{
    height:5vh;
    width:70%;
    margin-bottom:7vh;
}
.placed > div > a > button{
    background-color: #FF6700;
    border:none;
    height:5vh;
    width:100%;
    color:#FFFFFF;
    border-radius:1vh;
    cursor: pointer;
}
.notlog{
    width:100%;
    height:100vh;
    display:flex;
    position:fixed;
    top:0;
    background-color: rgba(0,0,0,0.8);
    z-index:10;
    font-family: 'Open sans';
    color:#c0c0c0;
}
.notlog > div{
    width:35%;
    display:flex;
    position:fixed;
    top:20%;
    left:32.5%;
    background-color: #FFFFFF;
    justify-content:center;
    align-items:center;
    border:1px solid #c0c0c0;
    flex-wrap:wrap;
}
.notlog > div >p{
    font-size:4vh;
    text-align: center;
    margin:7vh;
}
.notlog > div > a{
    height:5vh;
    width:70%;
}
.notlog > div > a > button{
    background-color: #FF6700;
    border:none;
    height:5vh;
    width:100%;
    color:#FFFFFF;
    border-radius:1vh;
    cursor: pointer;
}
#notcont{
    text-decoration:none;
    text-align:center;
    color:#c0c0c0;
    margin:0;
    font-size:1.5vh;
    margin:4vh;
}

.not{
    display:none;
}
@media (max-width: 100vh){
    .notlog > div{
        width:90%;
        left:5%;
    }
    .placed > div{
        width:90%;
        left:5%;
    }
}


/*    Profile - Base    */
.user-profile {
    display: flex;
    justify-content: space-between;
    margin: 50px auto;
    width: 80%;
    height: 150px;
}

.user-profile h2 {
    font-family: "Quicksand";
    margin: 15px 0;
}

.user-profile-box {
    display: inline-flex;
    align-items: center;
    width: 60%;
    height: 100%;
    border-right: 1px solid black;
}

.user-info-box {
    display: flex;
    flex-direction: column;
    height: 100%;
    margin-left: 30px;
}

.user-profile-box > img {
    background-image: url("/static/img/eu.jpg");
    -webkit-background-size: cover;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 100%;
    height: 130px;
    width: 130px;
    border: 1px solid gray;
}

.user-info-box p {
    margin: 3px 0;
    font-family: "Open Sans";
    font-size: 0.9em;
}

.user-info-box span {
    color: gray;
    margin-right: 4px;
}

.user-car-box {
    display: flex;
    flex-direction: column;
    width: 30%;
}

/* Home cars */
.home-cars {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 70%;
    margin: 0 auto;
}

/* Car card */
.is-rent {
    height: 90px;
}

.for-rent {
    height: 100px;
    width: 30%;
    margin: 15px;
    min-width: 200px;
}

.filter-card {
    position: relative;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 10px;
    background-color: rgba(0, 0, 0, 0.8);
    box-sizing: border-box;
}

.car-info {
    font-family: "Open Sans";
    font-size: 0.8em;
    color: white;
    margin: 3px 0;
}
.filter-card button {
    font-family: "Open Sans";
    border: none;
    background-color: #ff6700;
    color: white;
    border-radius: 5px;
    padding: 3px;
    width: 80px;
    align-self: flex-end;
    position: absolute;
    top: 60px;
}

/*                    REGISTER                    */

.register{
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}
.register > h2{
    margin-top:5%;
    width:100%;
    text-align:center;
    font-family: 'Quicksand';
}
.register > div{
    width:35%;
    border:1px solid #c0c0c0;
    font-family: 'Quicksand';
    color:#c0c0c0;
    text-align:center;
    margin-bottom:10%;
    margin-top:5%;
    display:flex;
    align-items:center;
    justify-content:center;
    flex-wrap: wrap;
}
.register > div >h6{
    margin-top: 5%;
}
.register > div > form{
    width:90%;
}
.register > div > form > button{
    width:60%;
    margin-right:20%;
    margin-left:20%;
    margin-top:5%;
    margin-bottom:5%;
    border:none;
    height: 5vh;
    background-color:#FF6700;
    border-radius:1vh;
}
.register > div > form > p >label{
    display:none;
    text-align:center;
}
.register > div > form > p >input{
    width:90%;
    height:5vh;
    border-radius:1vh;
    border:1px solid #c0c0c0;
    font-family: 'Quicksand';
}

/*                    PAGINATION                    */
.ourCars {
    align-items:center;
    margin-left:5%;
    width: 70%;
}
.ourCars > h2{
    margin-top:5%;
    text-align:left;
    font-family: 'Quicksand';
}
.ourCars > our-cars{
    display: flex;
    display: inline-box;
    flex-wrap: wrap;
    
    
}