{% extends "base.html" %}
{% load staticfiles %}
{% block title %} About us {% endblock %}


{% block content %} 
    
    <div class="gray-bar">
        <div class="gray-bar-content"> 
            <img class="gray-bar-image" src="{% static 'icons/about-us.svg' %}" aria-hidden="True"> </img>
            <h2 class="gray-bar-text" > About us </h2>
            
        </div>
    <div class="we-are">
        <div class="we-are-content"> <h2 class="we-are-text" > We are Rentify </h2> </div>
        
    </div>
        
    </div>

{% endblock %}


