{% extends "base.html" %}
{% load staticfiles %}
{% block title %} About us {% endblock %}


{% block content %} 
    
    <div class="gray-bar">
        <img class="gray-bar-image" src="{% static 'icons/about-us.svg' %}" aria-hidden="True"> </img>
        <h2 class="gray-bar-text" > About us </h2>
    </div>
        
    
    <div class="we-are">
        
        <div class="we-are-content"> <h2 class="we-are-text" > We are Rentify </h2> </div>
    
    </div>
    
    <div class="we-are-graph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et pretium nisl. 
        Mauris pellentesque elit in purus laoreet bibendum. In hac habitasse platea dictumst.
        Sed commodo nisi a ullamcorper suscipit. Nam et libero lacinia, dapibus risus eu, ornare felis. 
        Cras auctor mi volutpat ligula porta rhoncus. 
        Ut commodo ex sollicitudin, vehicula sapien id, lacinia mauris. </p>
    </div>

{% endblock %}


