{% extends "base.html" %}
{% load staticfiles %}
{% block title %} About us {% endblock %}


{% block content %} 
    
    <div class="gray-bar">
        <img class="gray-bar-image" src="{% static 'icons/about-us.svg' %}" aria-hidden="True"> </img>
        <h2 class="gray-bar-text" > About us </h2>
    </div>
        
    
    <div class="we-are">
        
        <div class="we-are-content"> 
            
            <h2 class="we-are-text" > 
            We are Rentify 
            </h2> 
        
        </div>
        
    
    </div>
    
    <div class="we-are-graph">
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et pretium nisl. 
        Mauris pellentesque elit in purus laoreet bibendum. In hac habitasse platea dictumst.
        Sed commodo nisi a ullamcorper suscipit. Nam et libero lacinia, dapibus risus eu, ornare felis. 
        Cras auctor mi volutpat ligula porta rhoncus. 
        Ut commodo ex sollicitudin, vehicula sapien id, lacinia mauris. </p>
    </div>
    
    <div class="how-does">
            <div class="how-does-text">
                <h2>How does it work?</h2>
                
            </div>
            
            <div class="how-does-graph">
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum et pretium nisl. 
                    Mauris pellentesque elit in purus laoreet bibendum. In hac habitasse platea dictumst.
                    Sed commodo nisi a ullamcorper suscipit. Nam et libero lacinia, dapibus risus eu, ornare felis. 
                    Cras auctor mi volutpat ligula porta rhoncus. 
                    Ut commodo ex sollicitudin, vehicula sapien id, lacinia mauris. 
                </p>
                
                
            </div>
            
    </div>
 
    
    <div class="icons">
        
        <figure class="icon-1" >
            <img class="car-icon" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
            <figurecaption class="icon-title">
                <h2 class="">The best cars</h2>
                <p class="icon-graph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum 
                et pretium nisl. Mauris pellentesque elit in purus laoreet bibendum. In 
                hac habitasse platea dictumst. Sed commodo nisi a ullamcorper suscipit. 
                </p>
            </figurecaption>
        </figure>
        
        <figure class="icon-2">
            <img class="tow-icon" src="{% static 'icons/car-breakdown.svg' %}" aria-hidden="True"></img>
            <figurecaption class="icon-title">
                <h2 class="">Technical support 24/7</h2> 
                <p class="icon-graph">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum 
                et pretium nisl. Mauris pellentesque elit in purus laoreet bibendum. In 
                hac habitasse platea dictumst. Sed commodo nisi a ullamcorper suscipit. 
                </p>
                </figurecaption>
            
        </figure>
        
        <figure class="icon-3">
            <img class="pump-icon" src="{% static 'icons/fuel-station-pump.svg' %}" aria-hidden="True"></img>
            <figurecaption class="icon-title">
                <h2 class="">Best efficiency</h2>
                <p>
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum 
                et pretium nisl. Mauris pellentesque elit in purus laoreet bibendum. In 
                hac habitasse platea dictumst. Sed commodo nisi a ullamcorper suscipit. 
                </p>
            </figurecaption>
            
            
        </figure>
        
        
    </div>
    
    
    
    
        
        
        
    </div>
    
    <div class="bottomBanner">
        <img class="bottomImg" src="{% static 'img/be-free.jpeg' %}">
        <div class="sombreamento"></div>
        <div class="bottomText">Be free!</div>
        <button class="bottomButton"><a href="{% url 'cars' %}" class="rentCar">Rent a car</a></button>
    </div>

{% endblock %}









