{% extends 'base.html' %}
{% load staticfiles %}
{% block title %} Rentify {% endblock %}

{% block content %}
    
    <div class="topBanner">
        <img class="topImg" src="{% static 'img/car-travel.jpg' %}">
        <div class="sombreamento"></div>
        <div class="topBannerText">
            <div class="topText">
                Rent a car!
            </div>
            <div class="topText topText2">
                Lorem ipsum dolor sit amet, 
                <br>
                consectetur adipiscing elit.
            </div>
        </div>
        <div class="topBannerButton">
            <button class="topButton"><a href="{% url 'cars' %}" class="topRentCar">Rent a car</a></button>
        </div>
    </div>
    
    <section class="home-cars">
        {% for car in cars %}
            <div class="car-card for-rent">
                <div class="filter-card">
                    <span class="car-info"> {{car.Model}}</span>
                    <span class="car-info"> License plate: {{car.Plate}}</span>
                    <span class="car-info"> Year: {{car.Year}}</span>
                    <form method="POST">
                        <button class="btn-orange">Rent</button>
                    </form>
                </div>
            </div>
        {% endfor %}
        
    </section>
    {% if user.is_authenticated %}
    <div class="placed not" id="modal">
        <div>
            <p>Your order is placed! Check your profile.</p>
            <a href="\rentProfile"><button>Profile</button></a>
        </div>
    </div>
    {% else %}
    <div class="notlog not" id="modal">
        <div>
            <p>Wait! To rent a car, you must be logged in.</p>
            <a class="redirect" href="\signin"><button>Sign in</button></a>
            <a href="\signup">Don't have an account yet? Click here.</a>
        </div>
    </div>
    {% endif %}
    
    
    
    
    <div class="bottomBanner">
        <img class="bottomImg" src="{% static 'img/be-free.jpeg' %}">
        <div class="sombreamento"></div>
        <div class="bottomText">Be free!</div>
        <button class="bottomButton"><a href="{% url 'cars' %}" class="rentCar">Rent a car</a></button>
    </div>
{% endblock %}