{% extends 'base.html' %}

{% block content %}
<div class="login">
  <h2>Rentify</h2>
  <div>
    <h6>Access your account</h6>
    <form method="POST">
    {% csrf_token %}
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}
        {% for error in field.errors %}
          <p style="color: gold">{{ error }}</p>
        {% endfor %}
      </p>
    {% endfor %}
    <a href="" id="esqpass">Forgot your password?</a>
    <button type="submit">Sign in</button>
  </form>
  </div>
  </div>
{% endblock %}