{% extends 'base.html' %}

{% load staticfiles %}

{% block title %} Profile {% endblock %}


{% block content %}
{% include 'base-profile.html' %}



<section class="profiles">
    
    <div class="photos">
       
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       
    
    </div>
    
    <div class="photos">
       
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       
    
    </div>
    
    <div class="photos">
       
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       <img class="profile-photo" src="{% static 'icons/car-front.svg' %}" aria-hidden="True"></img>
       
    
    </div>
    
    
     
    
    
    
    
    
    
    
    
    
    
    
</section>






















{% endblock %}



